body {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
}

button#reset, button#generate {
  margin-top: 1rem;
}

#container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#left-panel {
  flex-direction: column;
  width: 20%;
}

#center-panel {
  flex-direction: column;
  width: 50%;
}

#pixels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 640px;
  height: calc((400/640) * 100vh);
  max-height: 400px;
  border: 1px solid black;
}

#hover-pixel {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: blue;
  /* display: none; */
}

.colors {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem;
}

.colors.top {

}

.color {
  opacity: 0.5;
}

.color:hover {
  opacity: 1;
}

.color.active {
  opacity: 1;
}

#color-white {
  background-color: white;
}

#color-yellow {
  background-color: yellow;
}

#color-cyan {
  background-color: cyan;
}

#color-green {
  background-color: green;
  color: white;
}

#color-pink {
  background-color: pink;
}

#color-red {
  background-color: red;
}

#color-blue {
  background-color: blue;
  color: white;
}

#color-black {
  background-color: black;
  color: white;
}

.pixel {
  width: 5px;
  height: 5px;
}

.pixel::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#left-panel, #right-panel {
  width: 30%;
}

#left-panel p {
  margin-top: 0.5rem;
}

#right-panel {
  flex-direction: column;
}

#micropython-output {
  height: 80%;
  width: 80%;
  background-color: #505050;
  margin-top: 1rem;
  margin-bottom: 1rem;
}